/*********************************************************************************************************************************************************************************************************************************************************************************************************************CSS**************************************************************************
*****************************************************************************************************************************************************************************************************************************************************************/

li
{
    line-height:1.8em;
    list-style: none;
}

h1
{
    text-align: center;
}

code
{
    background-color: black;
    border-radius: 15px;
    padding: 3px 15px;
    color: white;
}
h3
{
    text-align: center;
}

footer
{
    border-top: solid 1px black;
    margin-top: 50px;
}

.haut-de-page
{
    margin-left: 42%;
}

.indent1
{
	margin-left: 40px;
}

.indent2
{
	margin-left: 80px;
}

.indent3
{
	margin-left: 120px;
}

.indent4
{
	margin-left: 160px;
}

.indent5
{
	margin-left: 200px;
}

.indent6
{
	margin-left: 240px;
}

.indent7
{
	margin-left: 280px;
}

.indent8
{
	margin-left: 320px;
}

.indent9
{
	margin-left: 360px;
}

.indent10
{
	margin-left: 400px;
}

.background-color
{
    background-color: white;
}

body
{
    background-color: lightgray;
}

/*********************************************************************************************************************************************************************************************************************************************************************************************************************CSS BOUTON HEADER************************************************************
*****************************************************************************************************************************************************************************************************************************************************************/

i {

  font-size: 2.5rem; }

.icon-button {

  border-radius: 3.6rem;

  width: 3.6rem;

  height: 3.6rem;

  margin: 0 5px;

  position: relative;

  display: inline-block;

  text-align: center;

  font-size: 2rem;

  background: white; }

  .icon-button span {

    display: block;

    border-radius: 0;

    width: 0;

    height: 0;

    position: absolute;

    left: 50%;

    top: 50%;

    transition: all 0.3s; }

  .icon-button:hover span {

    display: block;

    border-radius: 3.6rem;

    width: 3.6rem;

    height: 3.6rem;

    margin: -1.8rem; }

  .icon-button i {

    background: none;

    height: 3.6rem;

    width: 3.6rem;

    position: absolute;

    left: 0;

    top: 0;

    z-index: 10;

    line-height: 3.6rem;

    transition: all 0.3s; }



.twitter span {

  background-color: #4099ff; }



.facebook span {

  background-color: #3B5998; }



.gplus span {

  background-color: #db5a3c; }



.icon-button .fi-social-twitter {

  color: #4099ff; }



.icon-button .fi-social-facebook {

  color: #3b5998; }



.icon-button .fi-social-google-plus {

  color: #db5a3c; }



.icon-button:hover .fi-social-twitter, .icon-button:hover .fi-social-facebook, .icon-button:hover .fi-social-google-plus {

  color: white;

  font-size: 2.6rem;

  line-height: 3.9rem; }


/*********************************************************************************************************************************************************************************************************************************************************************************************************************CSS FOOTER FOUNDATION********************************************************
*****************************************************************************************************************************************************************************************************************************************************************/


@charset "UTF-8";

.hero {

  background: url("http://blog.ippon.fr/wp-content/uploads/2013/04/HTML5_sticker.png") no-repeat center center;

  background-size: cover;

  height: 80vh;

  margin-top: 50px;

  margin-bottom: -50px;

  overflow: hidden; }



.row {

  max-width: 1200px; }



.footer {

  background-color: #292c2f;

  text-align: center;

  height: 60%;

  padding: 1rem; }

  .footer .social a {

    display: inline-block;

    width: 2rem;

    height: 2rem;

    background-color: #33383b;

    border-radius: 2px;

    font-size: 1.5rem;

    color: #fff;

    text-align: center;

    line-height: 2rem;

    margin: 0 3px 0 0; }

  .footer .copywrite {

    color: #8f9296;

    font-size: 0.875rem;

    margin: 1rem 0 1rem 0; }

  .footer .footer-form textarea, .footer .footer-form input {

    border-radius: 3px;

    background-color: #1f2022;

    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);

    border: none;

    resize: none;

    font: inherit;

    font-size: 0.875rem;

    font-weight: normal;

    color: #d1d2d2;

    padding: 1.3rem; }

  .footer .footer-form label {

    color: #fff;

    font-size: 1.2rem;

    margin: 0 0 1rem 0;

    font-weight: bold; }

  .footer .footer-form .submit {

    border-radius: 3px;

    background-color: #33383b;

    color: #ffffff;

    border: 0;

    padding: 1rem 3.5rem;

    font-weight: bold;

    float: right;

    margin: 0 1rem 2rem 0; }

  .footer .footer-links a {

    list-style: none;

    font-weight: normal;

    color: #fff;

    padding: 3rem 0 2rem;

    margin: 0;

    font-size: 0.875rem; }

    .footer .footer-links a::after {

      content: "•";

      padding: 0 0.2rem 0 0.4rem; }

    .footer .footer-links a:last-child::after {

      content: "";

      padding: 0 0.4rem 0 0.8rem; }

  @media only screen and (min-width: 40.063em) {

    .footer {

      padding: 4rem; }

      .footer p {

        text-align: left; }

      .footer .social {

        text-align: left;

        margin: 0; }

      .footer .footer-form .contact {

        position: absolute;

        left: -45%;

        top: 10%; } }



.logo {

  color: #fff;

  font-size: 1.5rem; }

  .logo i {

    margin-right: 0.5rem; }
