li
{
    line-height:1.8em;
    list-style: none;
}

code
{
    background-color: black;
    border-radius: 15px;
    padding: 3px 15px;
    color: white;
}
h3
{
    text-align: center;
}

.haut-de-page
{
    margin-left: 40%;
}

.indent1
{
	margin-left: 40px;
}

.indent2
{
	margin-left: 80px;
}

.indent3
{
	margin-left: 120px;
}

.indent4
{
	margin-left: 160px;
}

.indent5
{
	margin-left: 200px;
}

.indent6
{
	margin-left: 240px;
}

.indent7
{
	margin-left: 280px;
}

.indent8
{
	margin-left: 320px;
}

.indent9
{
	margin-left: 360px;
}

.indent10
{
	margin-left: 400px;
}
